{% extends 'base.html' %}
{% block title %}Snippets - Sign Up{% endblock title %}
{% block content %}

{% if err_msg %}
    <p style="color: red;">{{err_msg}}</p>
{% endif %}

<div class="card">
    <div class="card-content">
    <p class="card-title">Sign Up</p>
            <form action="{% url 'signup' %}" method="POST">
                {% csrf_token %}
                {{form.as_p}}
                <input type="submit" value="Sign Up" class="btn">
            </form>
    </div>
</div>
{% endblock content %}