{% extends 'base.html' %}
{% block title %}Snippets - About{% endblock title %}
{% block content %}
    <h1 class="h1">SnippetCollector</h1>
    <p>Are you a developer? A shortcut lover?  Someone who just wants quick access to bits of their information?  Introducing SnippetCollector!--an app where you can create 'snippets' of data and assign tags to them so that you can easily find them later via search bar!</p>

    <p><i>NEW FEATURE: GROUPS!</i> Tired of searching for a single-tense word, but not seeing results for other variations of it?  Now you can create groups of tags!  If you search for a tag that is part of a group, then your search will cleverly include all the tags of that group!</p>
{% endblock content %}