body {
    background-color: rgb(254, 225, 225);
}

.h1 {
    font-family: 'Blinker', cursive;
    color: rgb(134 103 103);
}

.search {
    background-color: white !important;
}

.cont-snippets {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
    background-color: rgb(224 198 198);
    padding: 1em;
}
.snippet {
    background-color: white;
    padding: 1em;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.1);
}

.textarea {
    background-color: #eee;
}

.tag {
    background-color: rgb(240, 240, 240);
}
.cont-add-tag {
    display: inline-flex;
    background-color: rgb(191, 235, 159);
    border: 1px solid green;
    padding: 0.5em;
    margin-left: 0.5em;
    height: 40px;
}
.tag-input {
    max-width: 100px;
    border: 1px solid black !important;
    height: 22px !important;
    background-color: white !important;
}
.add-tag {
    height: 24px !important;
}
.tag:hover {
    color: rgb(255, 81, 81);
    background-color: rgb(255, 240, 242);
    border: 2px red solid;
    text-decoration: line-through;
}

.inline-flex {
    display: inline-flex;
}


.spacer {
    height: 100px;
}