{% extends 'base.html' %}

{% block content %}
    <h1 class="h1">SnippetCollector</h1>

    {% comment %} SEARCH BAR {% endcomment %}
    <div style="border: 1px solid black; padding: 5px 10px 0px 10px; background-color: #ffd1d1; margin-bottom: 10px;">
        <form class="form-search">
            <div class="input-field" style="display: flex;">
                <input type="search" class="search autocomplete" placeholder="search through your tags" style="background-color: white;" autofocus>
                <input type="submit" value="Search" style="height: 46px;">
            </div>
        </form>
    </div>


    {% comment %} RENDER ALL SNIPPETS {% endcomment %}
    <div class="cont-snippets">
        {% for snippet in snippets %}
            <div class="snippet" style="position: relative;">
                {% comment %} RENDER SNIPPET {% endcomment %}
                <textarea class="textarea">{{ snippet.body }}</textarea>

                {% for tag in snippet.tags.all %}
                    {% comment %} RENDER TAG(S) - UNASSOC TAG FORM {% endcomment %}
                    <form method="POST" action="{% url 'unassoc_tag' snippet.id tag.id %}" class="inline-flex">
                        {% csrf_token %}
                        <input type="submit" value="{{tag.name}}" class="tag chip">
                    </form>
                {% endfor %}

                {% comment %} FIND-OR-CREATE, ASSOC TAG FORM {% endcomment %}
                <form  method="POST" action="{% url 'findOrCreate_assoc_tag' snippet.id %}" class="cont-add-tag">
                    {% csrf_token %}
                    <input type="text" placeholder="some-tag" name="tag" class="tag-input" required>
                    <input type="submit" value="+ tag" class="add-tag">
                </form>

                <div class="score" style="height:14px; width: 10px; background: #fff; border: 1px solid #aaa; position: absolute; bottom: 0; left: 0; font-size: 10px;"></div>
            </div>
        {% endfor %}
    </div>
    
    <div class="spacer"></div>




<script>
console.log('### sanity check ###');
    const snippets = document.querySelectorAll('.snippet')
    const formSearch = document.querySelector('.form-search')
    const autocomplete = document.querySelector('.autocomplete')
    const searchEl = document.querySelector('.search')

    const allTagsOnPage = {}
    for (let snippet of snippets) {
        //reduce height of textarea for snippets with minimal text
        const ta = snippet.querySelector('textarea')
        const ta_length = ta.textContent.length
        if (ta_length < 50) {
            ta.style.height = '25px'
        }

        const tagsOfSnippet = snippet.querySelectorAll('.tag')
        for (let tag of tagsOfSnippet) {
            allTagsOnPage[tag.getAttribute('value')] = null
        }
        //'allTagsOnPage' is populated
    }
    
    M.Autocomplete.init(autocomplete, {
        data: allTagsOnPage
    })




    formSearch.addEventListener('submit', (e) => {
        e.preventDefault()
        console.log('-------------you submitted thes search form!----------');
        const searchInputStr = spacify(searchEl.value).toLowerCase()
        console.log(`searchInputStr:>${ searchInputStr}<`);

        if (searchInputStr == ' ') {
            console.log('ERROR- nothign entered');
            searchEl.value = ''
        }

        //calculate score for each snippet
        for (let snippet of snippets) {
            const scoreEl = snippet.querySelector('.score')

            let score = 0
            const tags = snippet.querySelectorAll('.tag')
            for (let tag of tags) {
                if (searchInputStr.indexOf(tag.getAttribute('value').toLowerCase()) !== -1) {
                    //console.log('found this snippet tag in search string: ', tag.getAttribute('value'));
                    score--
                }
            }
            snippet.style.order = score.toString()

            scoreEl.textContent = (score * -1).toString()
        }

        //select search text
        searchEl.select()
    })


function spacify(string) {
    while (string.indexOf('  ') !== -1) {
        string = string.replace('  ',' ')
    }
    let stringSplit = string.split('')
    if (stringSplit[0] !== ' ') {
        stringSplit.unshift(' ')
        string = stringSplit.join('')
    }
    stringSplit = string.split('')
    if (stringSplit[stringSplit.length - 1] !== ' ') {
        stringSplit.push(' ')
        string = stringSplit.join('')
    }
    return string
}
</script>


{% endblock content %}
