{% extends 'base.html' %}
{% block title %}Snippets{% endblock title %}
{% block content %}
    <h1 class="h1">SnippetCollector</h1>

    {% comment %} RENDER ALL GROUPS (WITH AT LEAST TWO TAGS) AND HIDE THEM {% endcomment %}
    {% for group in groups %}
        {% if group.tag_set.all.count >= 2 %}
        <div class="card group" style="display: none">
            <div class="card-content">
                <p class="card-title">{{group.name}}</p>
                {% for tag in group.tag_set.all %}
                    <p class="group-tag">{{tag.name}}</p>
                {% endfor %}
            </div>
        </div>
        {% endif %}
    {% endfor %}


    {% comment %} SEARCH BAR {% endcomment %}
    <div style="border: 1px solid black; padding: 5px 10px 0px 10px; background-color: #ffd1d1; margin-bottom: 10px;">
        <form class="form-search">
            <div class="input-field" style="display: flex;">
                <input type="search" class="search autocomplete" placeholder="search through your tags" style="background-color: white;" autofocus>
                <input type="submit" value="Search" style="height: 46px;">
            </div>
        </form>
    </div>

    <button class="btn-new-snippet">New Snippet</button>
    <div style="margin-bottom: 5px;"><label>Control + N</label></div>

    {% comment %} NEW SNIPPET (ModelForm) {% endcomment %}
    <div class="card div-new-snippet" style="display: none;">
        <div class="card-content">
            <form method="POST" action="{% url 'new_snippet' %}" class="form-new-snippet">
                {% csrf_token %}
                {{snippet_form.as_p}}
                <input type="submit" value="+ snippet" class="btn-plus-snippet">
                <p><label>Control + Enter</label></p>
            </form>
        </div>
    </div>

    {% comment %} RENDER ALL SNIPPETS {% endcomment %}
    <div class="cont-snippets">
        {% for snippet in snippets %}
            <div class="snippet" value="snippet{{snippet.id}}" style="position: relative;">
                {% comment %} RENDER SNIPPET {% endcomment %}
                <textarea class="textarea" readonly>{{ snippet.body }}</textarea>

                {% for tag in snippet.tags.all %}
                    {% comment %} RENDER TAG(S) - UNASSOC TAG FORM {% endcomment %}
                    <form method="POST" action="{% url 'unassoc_tag' snippet.id tag.id %}" class="inline-flex">
                        {% csrf_token %}
                        <input type="submit" value="{{tag.name}}" class="tag">
                    </form>
                {% endfor %}

                {% comment %} FIND-OR-CREATE, ASSOC TAG FORM {% endcomment %}
                <form  method="POST" action="{% url 'findOrCreate_assoc_tag' snippet.id %}" class="cont-add-tag">
                    {% csrf_token %}
                    <input type="text" placeholder="some-tag" name="tag" class="tag-input" style="text-transform: lowercase;" required>
                    <input type="submit" value="+ tag" class="add-tag">
                </form>

                {% comment %} EDIT SNIPPET MODAL TRIGGER {% endcomment %}
                <a class="modal-trigger" href="#modal{{snippet.id}}" style="border: 1px black solid; padding: 2px 15px 2px 15px; border-radius: 2px; background: #eee; position: absolute; bottom: 5px; right: 85px; height: 24px;">EDIT</a>

                <!-- Modal Structure -->
                <div id="modal{{snippet.id}}" class="modal">
                    <div class="modal-content">
                        <form method="POST" action="{% url 'edit_snippet' snippet.id %}">
                            {% csrf_token %}
                            <textarea type="text" class="body" name="body" required>{{snippet.body}}</textarea>
                            <div class="modal-footer">
                                <a href="#!" class="modal-close btn-flat">Cancel</a>
                                <input type="submit" value="SAVE EDITS">
                            </div>                            
                        </form>
                    </div>
                </div>
                {% comment %} DELETE SNIPPET {% endcomment %}
                <form method="POST" action="{% url 'delete_snippet' snippet.id %}" class="inline-flex">
                    {% csrf_token %}
                    <input type="submit" value="DELETE" style="color:salmon; position: absolute; bottom: 5px; right: 5px;">
                </form>

                {% comment %} SCORE (BOTTOM LEFT CORNER) {% endcomment %}
                <div class="score" style="height:14px; width: 10px; background: #fff; border: 1px solid #aaa; position: absolute; bottom: 0; left: 0; font-size: 10px;"></div>
            </div>
        {% empty %}
            <p>You have no snippets. :'(</p>
        {% endfor %}
    </div>
    
    <div class="spacer"></div>




<script>
    const snippets = document.querySelectorAll('.snippet')
    const formSearch = document.querySelector('.form-search')
    const autocomplete = document.querySelector('.autocomplete')
    const searchEl = document.querySelector('.search')
    const btnNewSnippet = document.querySelector('.btn-new-snippet')
    const divNewSnippet = document.querySelector('.div-new-snippet')
    const formNewSnippet = document.querySelector('.form-new-snippet')
    const btnPlusSnippet = document.querySelector('.btn-plus-snippet')
    const wrapper = document.querySelector('.cont-snippets')
    const modalTriggerEls = document.querySelectorAll('.modal-trigger')
    const modals = document.querySelectorAll('.modal');
    //initialize edit modals
    M.Modal.init(modals);

    //keep track of state of 'Control' key
    let controlDown = false;
    document.addEventListener('keydown', (e) => {
        if (e.key === 'Control') controlDown = true
        //control + n will click 'new snippet' button
        if (e.key === 'n' && controlDown) {
            btnNewSnippet.click()
        }
    })
    document.addEventListener('keyup', (e) => {
        if (e.key === 'Control') controlDown = false
    })




    //get an array of arrays, where each child array contains the tags from each group
    const groupEls = document.querySelectorAll('.group')
    const groups = []
    for (let groupEl of groupEls) {
        //console.log('----group name:-------', groupEl.querySelector('.card-title').textContent)
        const tagsForThisGroup = []
        const tagEls = groupEl.querySelectorAll('.group-tag')
        for (let tagEl of tagEls) {
            //console.log(tagEl.textContent);
            tagsForThisGroup.push(tagEl.textContent)
        }
        groups.push(tagsForThisGroup)
    }
    //console.log('groups:', groups);


    const allTagsOnPage = {}
    for (let snippet of snippets) {
        //reduce height of textarea for snippets with minimal text
        const ta = snippet.querySelector('textarea')
        const ta_length = ta.textContent.length
        if (ta_length < 50) {
            ta.style.height = '25px'
        } else if (ta_length >= 200) {
            ta.style.height = '75px'
        }

        //add tag to 'allTagsOnPage' as key.  order snippets based on number of tags
        let score = 0
        const tagsOfSnippet = snippet.querySelectorAll('.tag')
        for (let tag of tagsOfSnippet) {
            score++
            allTagsOnPage[tag.getAttribute('value')] = null
        }
        snippet.style.order = score.toString()
        //'allTagsOnPage' is populated
    }
    
    M.Autocomplete.init(autocomplete, {
        data: allTagsOnPage
    })




    formSearch.addEventListener('submit', (e) => {
        e.preventDefault()

        //make wrapper dissappear for a millisecond 
        wrapper.style.opacity = '0'
        setTimeout(() => {
            wrapper.style.opacity = '1'
        }, 30)

        const searchInputStr = spacify3(searchEl.value).toLowerCase()
        let searchInputStrWithGroups = searchInputStr
        //console.log(`searchInputStr:>${ searchInputStr}<`);

        if (searchInputStr == ' ') {
            console.log('ERROR- nothign entered');
            searchEl.value = ''
        }

        //loop through every search tag - if it belongs to a group, then add the tags from that group to the search string 
        const searchInputArr = spacify1(searchEl.value).toLowerCase().split(' ')
        searchInputArr.forEach(searchTag => {
            groups.forEach(group => {
                if (group.indexOf(searchTag) !== -1) {
                    searchInputStrWithGroups +=  group.join(' ') + ' '
                }
            })
        })

        //calculate score for each snippet
        const orderValues = []
        for (let snippet of snippets) {
            //reset styles
            snippet.style.backgroundColor = 'white'
            snippet.style.opacity = "1"

            const scoreEl = snippet.querySelector('.score')

            let score = 0
            const tags = snippet.querySelectorAll('.tag')
            for (let tag of tags) {
                if (searchInputStrWithGroups.indexOf(` ${tag.getAttribute('value').toLowerCase()} `) !== -1) {
                    //console.log('found this snippet tag in search string: ', tag.getAttribute('value'));
                    score--
                }
            }
            snippet.style.order = score.toString()
            orderValues.push([snippet.getAttribute('value'), snippet.style.order])
            scoreEl.textContent = (score * -1).toString()

            //if snippet has score of 0, make it half transparent
            if (snippet.style.order === "0" && searchEl.value !== "") {
                snippet.style.opacity = "0.5"
            }
        }

        //evaluate 'orderValyues' results, color snippet accordingly (green or yellow)
        orderValues.sort((a,b) => a[1] -  b[1])
        if (orderValues.length >= 2) {
            if (orderValues[0][1] !== orderValues[1][1]) {
                const snippetTop = document.querySelector(`.snippet[value=${orderValues[0][0]}]`)
                snippetTop.style.backgroundColor = '#b8e45d' //greenish
            } else if (orderValues[0][1] !== "0" && orderValues[0][1] === orderValues[1][1]) {
                for (let snippet of snippets) {
                    if (snippet.style.order === orderValues[0][1]) {
                        snippet.style.backgroundColor = "#ffec80" //yellowish
                    }
                }
            }
        }
    })

    //click button to toggle visibility of new snippet form 
    btnNewSnippet.addEventListener('click', () => {
        if (divNewSnippet.style.display === 'none') {
            divNewSnippet.style.display = 'block'
            btnNewSnippet.textContent = '^collapse'
            //focus the textarea
            const bodyEl = divNewSnippet.querySelector('textarea')
            bodyEl.focus()
        } else {
            divNewSnippet.style.display = 'none'
            btnNewSnippet.textContent = 'New Snippet'
            searchEl.focus()
        }
    })

    //Control + Enter will submit a new snippet
    formNewSnippet.addEventListener('keydown', (e) => {
        if (controlDown && e.key === 'Enter') {
            btnPlusSnippet.click()
        }
    })

    //after opening edit modal, select textarea text
    for (let triggerEl of modalTriggerEls) {
        //grab href to see specific modal associaiton
        let modalId = triggerEl.getAttribute('href')
        //remove '#' from modalId
        modalId = modalId.slice(1, modalId.length)
        //get modal that trigger is associated to
        const modalEl = document.querySelector(`div[id=${modalId}]`)
        //get the textarea inside the modal
        const bodyEl = modalEl.querySelector('.body')
        //when trigger is clicked, the bodyEl with be selected
        triggerEl.addEventListener('click', () => {
            setTimeout(() => {
                bodyEl.select()
                console.log('focused');
            }, 50)
        })
    }

function spacify3(string) {
    while (string.indexOf('  ') !== -1) {
        string = string.replace('  ',' ')
    }
    let stringSplit = string.split('')
    if (stringSplit[0] !== ' ') {
        stringSplit.unshift(' ')
        string = stringSplit.join('')
    }
    stringSplit = string.split('')
    if (stringSplit[stringSplit.length - 1] !== ' ') {
        stringSplit.push(' ')
        string = stringSplit.join('')
    }
    return string
}

function spacify1(string) {
    while (string.indexOf('  ') !== -1) {
        string = string.replace('  ',' ')
    }
    let stringSplit = string.split('')
    if (stringSplit[0] === ' ') {
        stringSplit.shift(' ')
        string = stringSplit.join('')
    }
    stringSplit = string.split('')
    if (stringSplit[stringSplit.length - 1] === ' ') {
        stringSplit.pop(' ')
        string = stringSplit.join('')
    }
    return string

}
</script>


{% endblock content %}
